<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <header class="clearfix">
    <h1>Флэшкарточкер</h1>
    <ul class="navigation-links">
<<<<<<< HEAD
      <li><a href="#"><%= link_to 'Все карточки', controller: 'cards' %></a></li>
=======
      <li><a href="#"><%= link_to 'Все карточки', cards_path %></a></li>
>>>>>>> 868f6b08842706c058f4ab71dbc2eb1d03af651f
      <li><a href="#">Добавить карточку</a></li>
    </ul>
  </header>
  <body>
    <%= yield %>
  </body>

</html>


